.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: calc(var(--px-size) * 3) 0;
}

.link:hover,
.link:focus {
  opacity: 0.8;
  transition: all 0.2s ease;
}

.link:not(:last-child) {
  margin-right: calc(var(--px-size));
}

.links {
  display: flex;
  align-items: center;
}
